IBL.CPS.UI/Service References/srFuncao/ServiceFuncao1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IBL.CPS.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IBL.CPS.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FuncaoFTR">
    <xs:sequence>
      <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FuncaoFTR" nillable="true" type="tns:FuncaoFTR" />
  <xs:complexType name="ArrayOfFuncaoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FuncaoDTO" nillable="true" type="tns:FuncaoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncaoDTO" nillable="true" type="tns:ArrayOfFuncaoDTO" />
  <xs:complexType name="FuncaoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRICAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FuncaoDTO" nillable="true" type="tns:FuncaoDTO" />
</xs:schema>