IBL.CPS.UI/Service References/srTipoGrupo/ServiceTipoGrupo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IBL.CPS.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IBL.CPS.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TipoGrupoFTR">
    <xs:sequence>
      <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoGrupoFTR" nillable="true" type="tns:TipoGrupoFTR" />
  <xs:complexType name="ArrayOfTipoGrupoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoGrupoDTO" nillable="true" type="tns:TipoGrupoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoGrupoDTO" nillable="true" type="tns:ArrayOfTipoGrupoDTO" />
  <xs:complexType name="TipoGrupoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRICAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoGrupoDTO" nillable="true" type="tns:TipoGrupoDTO" />
</xs:schema>